<h2>Scoreboard</h2>
<table>
  <tr>
    <th> Name </th>
    <th> Score </th>
    <th></th>
  </tr>
 
  <% @teams.each do |team| %>
    <tr>
      <td><%=  team.title  %></td>
      <td><%=  team.score  %></td>
    </tr>
  <% end %>
</table>