<div class="page-content">
<h2>Sponsors</h2>
<table>
  <tr>
    <th>Company</th>
    <th>Last</th>
    <th></th>
  </tr>
  <% @sponsors.each do |sponsor| %>
    <tr>
      <td><%= sponsor.title %></td>
      <td><%= sponsor.slogan %></td>
      <td><%= link_to 'Show', sponsor_path(sponsor),class:"table-button-single" %></td>
    </tr>
  <% end %>
</table>

<div class="sponsor-test-bg-1"><div class="sponsor-test-fg-2"></div></div>
</div>