<%= render 'header'%>

<h2>Sponsors</h2>
<table>
  <tr>
    <th>Company</th>
    <th>Last</th>
    <th></th>
  </tr>
  <% @sponsors.each do |sponsor| %>
    <tr>
      <td><%= sponsor.title %></td>
      <td><%= sponsor.slogan %></td>
      <td><%= link_to 'Show', sponsor_path(sponsor) %></td>
    </tr>
  <% end %>
</table>