<h2>Flags</h2>

<table>
  <tr>
    <th>Challenge ID</th>
    <th>Flag ID</th>
    <th></th>        
  </tr>
  <% @flags.each do |flag| %>
    <tr>
      <td><%= flag.challenge_id %></td>
      <td><%= flag.id%></td>
      <td><%= link_to 'edit', edit_flag_path(flag) %></td>
    </tr>
  <% end %>
</table>>
<%= link_to 'New flag', 'admin/flag/new' %>