<h2>Challenges</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
  <% @challenges.each do |chal| %>
    <tr>
      <td><%= chal.title %></td>
      <td><%= link_to 'edit', edit_challenge_path(chal) %></td>
    </tr>
  <% end %>
</table>>
<%= link_to 'New challenge', '/admin/challenges/new' %>