h1 { 
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
p{
  color:white;
  font-family: Arial, Helvetica, sans-serif;

}
td{
  color:white;
  font-family: Arial, Helvetica, sans-serif;

}
body {
  background-color: white;
}
.site-title{
  color:white;
}
.page-title{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  align-self: center;
}
.page-header {
  display:grid;
  grid-template-columns: 300px auto;
}
.header-right-container {
  display:flex;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: black;
  justify-content: flex-end;
  flex-direction: column;
  margin-left:-3px;
}
.header-left-container {
  display: flex;
  justify-content: flex-end;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
  flex-direction: column;
  margin-right:-3px;

}
.header-bottom-left-container {
  display: flex;
  justify-content: flex-start;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
  flex-direction: column;
  align-content: flex-end;
  margin-right:-3px;

}
.header-bottom-right-container {
  display:flex;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: black;
  justify-content: flex-start;
  flex-direction: column;
  margin-left:-3px;
}
.header-bottom-container {
  display:grid;
  grid-template-columns: 340px auto;
}
.page-mid{
  display:grid;
  grid-template-columns: 340px auto;
}
.mid-right-container {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: black;

}
.mid-left-container {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color:black;
}
.side-bar-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-width: 180px;
  width:180px;
}
.left-body-containter{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer-containter{
  display: flex;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.right-down-1{
  background-color: black;
  border-radius: 100px 0 0 0;
  height: 220px;
  padding: 5px;
}

