h1 { 
  color: rgb(32, 32, 32);
  font-family: Arial, Helvetica, sans-serif;
}
p{
  color:rgb(56, 56, 56);
  font-family: Arial, Helvetica, sans-serif;

}
td{
  //color:rgb(59, 59, 59);
  font-family: Arial, Helvetica, sans-serif;

}
body {
  background-color: white;
}
.site-title{
  color:white;
}
.page-title{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  align-self: center;
}
.page-header {
  display:grid;
  grid-template-columns: 300px auto;
  background-repeat: no-repeat;
}
.header-right-container {
  display:flex;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: black;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 20px;
  
}
.header-left-container {
  display: flex;
  justify-content: flex-end;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
  flex-direction: column;
  padding-left: 40px;
  padding-bottom: 20px;
}
.header-bottom-container {
  display:grid;
  grid-template-columns: 340px auto;
}
.page-mid{
  display:grid;
  grid-template-columns: 340px auto;
}
.mid-right-container {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: black;

}
.mid-left-container {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color:black;
}
.botm-half-cntr{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.bottom-right-cntr{
  width: 100%;

}
.bottom-header-bar{
  background-color: black;
  height: 80px;
  min-width: auto;
}
.side-bar-cntr {
  background-color: black;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-width: 180px;
  width:180px;
  height: 100%;
}
.left-body-containter{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer-containter{
  display: flex;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.bottom-left-1{
  background-color: rgb(255, 94, 0);
  border-radius: 100px 0 0 0;
  height: 220px;
  padding: 5px;
}
.top-left-1{
  background-color: rgb(0, 183, 255);
  border-radius: 0 0 0 100px;
  height: 220px;
  padding: 5px;
}
.bottom-right-bar{
  background-color: rgb(255, 94, 0);
  height:30px;
}
.top-right-bar{
  background-color: rgb(0, 183, 255);
  height:30px;
}
.top-arch-bg {
  width:45px;
  height:35px;
  background-color: rgb(0, 183, 255);
 }
 .top-arch {
  width:45px;
  height:35px;
  background:black;
  border-radius: 0 0 0 35px;
 }
.bottom-arch-bg {
  width:35px;
  height:35px;
  background-color: rgb(255, 94, 0);
 }
.bottom-arch {
  width:35px;
  height:35px;
  background:black;
  border-radius: 35px 0 0 0;
}

 //content area
.page-content{
  background-color: black;
  padding:30px;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 700px;
}