

<div class="page-header">
  <div class="header-left-container">TL
    <div class="top-left-1"></div>
  </div>
  <div class="header-right-container">
    <div class="page-title">
      <%= Contest.find_by(active: 1).title %>
    </div>
      <div class="top-arch-bg"> <div class="top-arch"></div></div>
      
    <div class="top-right-bar">
    </div>
  </div>
</div>
