

<div class="page-header">
  <div class="header-left-container">TL
      <img src=/RED/1red.svg >

  </div>
  <div class="header-right-container">
    <div class="page-title"><%= Contest.find_by(active: 1).title %></div>
    <img src=/RED/2red.svg >
  </div>
</div>
<div style="background-color:black;"><br></div>
<div class="header-bottom-container">
  <div class="header-bottom-left-container">
    <img src=/RED/4red.svg >
  </div>
  <div class="header-bottom-right-container">
    <img src=/RED/3red.svg >
  </div>
</div>