<div class='side-bar-cntr'>
  <div class="bottom-left-1">
    <a href="/scoreboard" class="side-bar-button-1">SCOREBOARD</a>
    <a href="/challenges" class="side-bar-button-2">CHALLENGES</a>
    <a href="/articles" class="side-bar-button-3">HELP</a>
  
  </div>
  <div class="side-bar-block-1">

  
  </div>
  <div class="side-bar-block-2">    
  </div>
</div>
